body.modal-open { padding-right: 0 !important }

.modal {
  form fieldset {
    margin-bottom: 0;

    legend {
      border-bottom: none;
      font: {
        size: 16px;
        weight: 400;
      }
      margin-bottom: 12px;
    }
  }
}
