@import 'base/variables';
@import 'bootstrap/variables';

.navbar.navbar-default {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  margin-bottom: 48px;
  min-height: 100px;
  z-index: 1;

  .navbar-brand img { max-width: 140px }

  .navbar-nav {
    li {
      padding: {
        top: 24px;
        bottom: 24px;
      }

      &.active a {
        background-color: #fff;

        &:hover { color: $gray-dark }
      }

      a {
        color: $gray-dark;
        font-size: 13px;
      }
    }
  }
}

.high_voltage-pages.home .navbar-default {
  margin-bottom: 0 !important;
}
