@import 'bootstrap/variables';

html, body { height: 100% !important }

.wrapper {
  min-height: 100% !important;
  position: relative;
}

main {
  padding-bottom: 457px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 429px;

  .questions {
    background-color: #f2f2f2;
    padding: 40px;

    p {
      color: #6a737b;
      font: {
        size: 26px;
        weight: 300;
      }
    }
  }

  .career-source {
    background-color: #6a737b;
    padding: 20px;

    p {
      color: #fff;
      font: {
        size: 16px;
        weight: 300;
      }

      &.eoe { font-size: 13px }
    }
  }

  .powered-by-atlas {
    padding: 20px;

    p {
      color: #999;
      font-size: 12px;
      line-height: 30px;
      margin-top: 12px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  footer {
    margin-top: 10px;

    .questions {
      p {
        font-size: 21px;
        line-height: 1.3;
      }

      .btn {
        display: block;
        margin-top: 18px;
      }
    }

    .career-source img,
    .powered-by-atlas img {
      display: block;
      margin: 0 auto;
    }

    .powered-by-atlas {
      p {
        text-align: center;
        margin-bottom: 18px;
      }

      img { float: none !important }
    }
  }
}

@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
  footer {
    .questions {
      p {
        display: block;
        text-align: center;
      }

      .btn {
        display: inline-block;
        margin-top: 18px;
      }
    }

    .powered-by-atlas {
      p {
        text-align: center;
        margin-bottom: 18px;
      }

      img {
        display: block;
        float: none !important;
        margin: 0 auto;
      }
    }
  }
}
