.container
  .row
    .col-md-8
      %h1 Job Seeker FAQs

      %p
        The virtual job fair is an
        %strong online
        job fair. It has been set up as a job matching tool for job seekers and employers looking to fill positions. In this type of job fair format, there is no face-to-face interaction with employers. Once you have registered, you can access your profile at any time to make changes, add a resume, etc. When you are logged in, you will be directed to the Job Seeker Portal screen where you will be able to view your recent activity and enter the Job Fair lobby to see hiring employers and open positions. Only when the job fair is
        %em live
        (during the specified date frame) will you be able to see hiring employers and apply for open job opportunities. You will be able to select the employer that interests you from here by clicking on their logo or by searching by Industry or Zip Code for employers nearest you.

      %p
        The next page that opens will include a brief description of that employer, along with the job(s) they have open. From here you can select a job that interests you for more details. When you are in the job detail screen, you will be able to view the complete job description provided by the employer and a button that says
        %strong send message/resume.
        If you’re interested in the position, you simply send a message to the employer and select the box to attach your resume if one is on file in your profile. The rest is up to the employer. You may receive notification from the employer to set up an interview or may receive no notice at all. During a youth virtual job fair only those positions available for your age group will be viewable.

      %dl
        %dt How much does it cost?
        %dd
          %p
            The job fair is completely
            %strong free.

        %dt What if I don't have a resume or work experience?
        %dd
          %p
            If you are a youth that doesn’t have job experience, it’s still important to put down your career objectives, skills, interests and hobbies and any community service experience you may have. An example can be found by clicking
            = link_to 'http://www.groovejob.com/jobseeker/resume/demo', 'http://www.groovejob.com/jobseeker/resume/demo', target: '_blank'
            to visit
            = link_to 'GrooveJob.com.', 'http://www.groovejob.com', target: '_blank'
            You will need to register to use their system to create an actual resume, or you can use their demo as a guide to create your own.

        %dt Who can I contact for more information?
        %dd
          %p
            For more information, please contact
            = mail_to 'vjf@careersourcepinellas.com.'

    .col-md-4
      = render 'job_seeker_sidebar'
