// Base styles
@import 'base/forms';

// Vendor
@import 'bootstrap.min';
@import 'sidebar-nav/sidebar-nav.min';
@import 'fullcalendar/fullcalendar';
@import 'bootstrap-daterangepicker/daterangepicker.scss';
// ...
@import 'ampleadmin/animate';
@import 'ampleadmin/style';
@import 'ampleadmin/colors/megna-dark';

// Overrides
@import 'overrides/modal';
@import 'overrides/panel';

// Page specific styles
