@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// Base styles
@import 'base/layout';
@import 'base/forms';
@import 'base/spacing';
@import 'base/typography';
@import 'base/variables';

// Vendor
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-daterangepicker/daterangepicker.scss';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'messenger/build/css/messenger';
@import 'messenger/build/css/messenger-theme-block';
@import 'selectize/dist/css/selectize';
@import 'selectize/dist/css/selectize.bootstrap3';
@import 'summernote';

// Overrides
@import 'overrides/datepicker';
@import 'overrides/navbar';
@import 'overrides/notifications';
@import 'overrides/selectize';

// Page specific styles
@import 'devise';
@import 'pages';
