@import 'base/variables';
@import 'bootstrap/variables';

.high_voltage-pages.home {
  .navbar.navbar-default { border: none !important }

  #welcome-banner {
    background-image: image-url('banner-bg.jpg');
    margin-bottom: 8px;
    min-height: 444px;
    padding: {
      top: 0;
      bottom: 0;
    }

    .announcement {
      background-color: $light-green;
      color: #fff;
      padding: 20px 30px;
      position: absolute;
      right: 0px;
      width: 520px;

      h1, p { text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25) }

      h1 {
        font-size: 28px;
        margin: {
          top: 0;
          bottom: 8px;
        }
      }

      p {
        font: {
          size: 13px;
          weight: 300;
        }
        line-height: 1.4;

        &.lead {
          font: {
            size: 15px;
            weight: 400;
          }
        }

        &.lead:first-of-type { margin-bottom: 0 }

        a { text-shadow: none }
      }
    }
  }

  .callout {
    padding: 36px 0 20px;

    img {
      display: inline-block;
      margin-bottom: 18px;
    }

    p { font-size: 16px }
  }

  .log-in-or-register {
    h4, p { margin-bottom: 24px }
  }
}

.high_voltage-pages:not(.home) {
  h1 {
    color: $brand-primary;
    margin: {
      top: 0;
      bottom: 30px;
    }
  }

  h1 + dl dt { padding-top: 0 }

  dl {
    dt {
      color: $light-green;
      font: {
        size: 18px;
        weight: 300;
      }
      padding: {
        top: 15px;
        bottom: 15px;
      }
      text-transform: uppercase;
    }
  }

  aside {
    background-color: $light-green;
    border-radius: 4px;
    color: darken($light-green, 40%);
    padding: 20px;

    h3 {
      font: {
        size: 21px;
        weight: 300 !important;
      }
      margin-bottom: 18px;
    }

    p {
      line-height: 1.6;
      font-weight: 300;
      margin-bottom: 18px;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid lighten($light-green, 15%);
        margin: 2em 0;
        padding: 0;
    }
  }

  .efm-warning {
    font-size: 13px;
    padding: 10px 20px;
  }
}

@media (max-width: $screen-xs-max) {
  .high_voltage-pages.home {
    #welcome-banner {
      background: none;
      min-height: 498px;

      .announcement {
        width: 100%;
      }
    }

    .callout p { margin-bottom: 36px }
  }
}
