%aside
  %p Virtual Job Fairs are a convenient way for job seekers to explore prospective companies, review job descriptions of their open positions and introduce yourself to them — all from the convenience of your own computer. Here, you can feel free to browse for jobs at your leisure and see what our employers have to offer!

  %h3 Log in to your account *

  = render 'users/global_login_form'

  %hr/

  %p
    Don't have an account?
    = link_to 'Register as a Job Seeker', sign_up_path(account_type: 'jobseeker')

%p.efm-warning.text-muted * Participants in the Virtual Job Fair will need to create an account. This registration is separate from the Employ Florida Marketplace website
