@import 'base/variables';
@import 'bootstrap/variables';

.navbar.navbar-default {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  margin-bottom: 48px;
  min-height: 60px;
  z-index: 1000;

  .navbar-header .top-left-part { width: 230px !important }
  .navbar-brand img { max-width: 140px }

  .navbar-nav {
    li {
      padding: {
        top: 24px;
        bottom: 24px;
      }

      &.active a {
        background-color: #fff;

        &:hover { color: $gray-dark }
      }

      a {
        color: $gray-dark;
        font-size: 13px;
      }
    }

    li.dropdown {
      .dropdown-menu {
        padding: 4px 0;
        top: 74%;
      }

      li { padding: 0 }
      li a { padding: 7px 20px }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .navbar.navbar-default {
    margin-bottom: 0;
    min-height: 80px;

    .navbar-toggle {
      margin: {
        top: 22px;
        bottom: 22px;
      }
    }

    .navbar-brand img { max-width: 45px }

    .navbar-nav {
      margin: {
        top: 0;
        bottom: 0;
      }

      li {
        border-bottom: 1px solid $gray-lighter;
        padding: {
          top: 0;
          bottom: 0;
        }

        &:last-child { border: none }
      }
    }
  }
}

@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
  .navbar.navbar-default {
    .navbar-brand img { max-width: 67px }
  }
}
